.title{
  background-color: #454545;
  color: white;
  height: 4rem;
  font-size: 3rem;
}

.tag-group{
  background-color: #785964;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tag{
  background-color: #D5C7BC;
  margin: 1rem;
  border-radius: 2rem;
}

.active, .inactive{
  background-color: green;
  height: 1rem;
  width: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

.inactive{
  background-color: red;
}

.status{
  display: flex;
  align-items: center;
  justify-content: center;
}
